<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .center-img,
    .center-txt {
      display: inline-block;
    }

    img.center {
      display: block;
      margin: 0 auto;
    }
  </style>
</head>

<body>

  <h2 style="display: block; margin: 0 auto;">SAA</h2>

  <div style="margin: 0 auto;">
    <img style="display: block; margin: 0 auto;" src="%3" alt="Avatar" style="width:100%">
    <div>
      <h4 style="display: inline-block; "><b>%1</b></h4>
      <p>%2</p>
    </div>
  </div>

</body>

</html>
